= form_with model: [answer],
-               url: update_inline_admin_test_path(test),
-               local: true,
-               class: "form-reply" do |form|
= form.text_field :body, class: "form-control"
= form.submit 'Reply', class: "btn btn-primary"
