@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");
@import "bootstrap";
/*COLORS*/

$main-red: #ED254E;
$main-yellow: #F9DC5C;
$main-grey: #C2C2C2;
$main-dark: #011936;


.question-title {
  display: grid;
  grid-template-columns: 80px auto 150px;
  grid-template-areas: "vote title panel"
                       "vote user panel"
                       "vote body panel"
                       "vote files panel"
                       "vote links panel";
}

.answer {
  display: grid;
  grid-template-columns: 80px auto 150px;
  grid-template-areas: "vote body panel"
                       "vote form panel"
                       "vote files panel"
                       "vote links panel"
                       "comments comments comments";
}

.vote {
  grid-area: vote;
}

.user-info {
  grid-area: user;
}

.grid-title {
  grid-area: title;
}

.question-body {
  grid-area: body;
}

.answer-body {
  grid-area: body;
}

.answer-form {
  grid-area: form;
}

.files {
  grid-area: files;
}

.links {
  grid-area: links;
}

.panel {
  grid-area: panel;
}

.comments {
  grid-area: comments;
}

.main-bg-red {
  background-color: $main-red
}

.main-text-red {
  color: $main-red
}

.main-bg-yellow {
  background-color: $main-yellow
}

.main-text-yellow {
  color: $main-yellow
}

.main-bg-white {
  background-color: #F4FFFD
}

.main-bg-dark {
  background-color: $main-dark
}

.main-text-dark {
  color: $main-dark
}

.main-bg-grey {
  background-color: $main-grey
}

.main-text-grey {
  color: $main-grey
}

.letter-spacing {
  letter-spacing: 2px;
}

.font-size-13 {
  font-size: 13px;
}

.btn-hover:hover {
  border: 1px solid $main-grey;
  background-color: #FFE368;
}

.hidden { display: none }

.btn-file {
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;

}

.border-bottom-blue {
  border-bottom: 2px solid $main-yellow;
}

.border-right-yellow {
  border-right: 2px solid $main-yellow;
}

.answer-form {
  padding: 6px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(255, 237, 155);
}

li {
  list-style-type: none;
}

.shadow-default {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

summary {
  background-color: $main-yellow;
  height: 20px;
  list-style: none;
  display: block;
  text-align: center;

  &::-webkit-details-marker { display: none; }
}